/* common reused styles */

@mixin icon-size($pixel) {
  height: $pixel;
  width: $pixel;
}

@mixin button-styling {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Custom CSS */

:root {
  --primary-color: #38bdf8;
  --secondary-color: #334155;
  --third-color: #1e293b;
  --white-color: #fafafa;
  --gray-color: #94a3b8;

  &.light {
    --primary-color: #38bdf8;
    --secondary-color: #7497c9;
    --third-color: #5372a3;
    --gray-color: #abbfda;
    --primary-button-color: #6c84a4;
  }

  --primary-color-svg: brightness(0) saturate(100%) invert(60%) sepia(16%)
    saturate(2562%) hue-rotate(169deg) brightness(107%) contrast(95%);
  --white-color-svg: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(0%) hue-rotate(14deg) brightness(105%) contrast(96%);

  --primary-button-color: #475569;
  --primary-button-hover-color: #53657d;
  --secondary-button-color: #38bdf8;
  --secondary-button-hover-color: #7dd3fc;
}

.not-active {
  display: none !important;
}

.content {
  min-height: 100vh;
  background-color: var(--third-color);
  font-family: "Roboto", sans-serif;

  display: grid;
  grid-template:
    "sidebar header" 100px
    "sidebar main" 1fr
    / 300px 1fr;
}

.hide-sidebar {
  grid-template: "header header" 100px "main main" 1fr / 300px 1fr !important;
}

h1 {
  font-family: "Montserrat", sans-serif;
}
