@use "index";
label {
  color: var(--white-color) !important;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;

  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.active {
  transform: translate(-50%, -50%) scale(1);
}

.popup-header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }

  button {
    background-color: var(--primary-button-color) !important;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: background-color 0.3s;

    img {
      width: 15px;
      filter: var(--white-color-svg);
    }

    &:hover {
      background-color: var(--primary-button-hover-color) !important;
    }
  }
}

form {
  display: grid;
  grid-template-columns: 1fr;

  padding: 0px 6px;

  label {
    margin-bottom: 8px;
    font-size: 0.9em;
  }
  input,
  textarea,
  select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--gray-color);
    margin-bottom: 20px;
    font-size: 0.9em;
  }
}

input:focus {
  outline: none;
  padding: 9px;
  cursor: pointer;
  border: 2px solid var(--primary-color);
}

input[type="submit"] {
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: var(--secondary-button-color);
  color: var(--white-color);
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: var(--secondary-button-hover-color);
}

.overlay {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 10000px;
  height: 10000px;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 9;
}

.overlay.active {
  display: block;
  pointer-events: all;
}

#opened-task {
  width: 380px !important;
  padding: 40px 30px;
  img {
    width: 20px;
  }
  #opened-task-status {
    color: var(--gray-color);
    font-size: 0.8em;
  }
  #opened-task-title {
    font-size: 1.4em;
  }
  #opened-task-description {
    color: var(--gray-color);
    margin-top: 15px;
    margin-bottom: 20px;
  }
  #opened-task-due {
    width: 120px;
    background-color: var(--primary-button-color);
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  #opened-task-priority {
    width: 120px;
    display: flex;
    gap: 4px;
    font-size: 0.9em;
    background-color: var(--primary-button-color);
    padding: 6px 12px;
    border-radius: 20px;
    margin-bottom: 30px;

    img {
      width: 14px;
    }

    .low {
      filter: var(--white-color-svg);
    }
    .med {
      filter: brightness(0) saturate(100%) invert(55%) sepia(96%)
        saturate(2343%) hue-rotate(348deg) brightness(97%) contrast(102%); //orange
    }
    .high {
      filter: brightness(0) saturate(100%) invert(32%) sepia(83%) saturate(792%)
        hue-rotate(320deg) brightness(107%) contrast(109%); //red
    }
  }
  #opened-task-footer {
    display: flex;
    gap: 10px;
    & > * {
      border: none;
      background-color: var(--secondary-button-color);
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--secondary-button-hover-color);
      }
    }

    #opened-task-main {
      border-radius: 24px;
      padding: 0px 40px;
      font-size: 1.2em;
    }
    #opened-task-edit,
    #opened-task-close {
      padding: 8px;
      border-radius: 50%;
      margin-right: 10px;

      img {
        filter: var(--white-color-svg);
        width: 24px;
      }
    }
  }
}
