main {
  grid-area: main;
}

#task-display {
  padding: 40px 220px;
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--gray-color);
  }
}

#todo h3::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--primary-color);
  display: inline-block;
  margin-right: 5px;
}

#done h3::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #6ee7b7;
  display: inline-block;
  margin-right: 5px;
}
